<div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
    <div class="wrapper wrapper--w780">
        <div class="card card-3">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title">Registration Form</h2>
                <form  #frm="ngForm" (ngSubmit)="addUser()">
                    <div class="input-group">
                        <input class="input--style-3" [(ngModel)]="user.firstName" type="text" placeholder="FirstName" name="name">
                    </div>
                    <div class="input-group">
                        <input class="input--style-3" [(ngModel)]="user.lastName" type="text" placeholder="LastName" name="name">
                    </div>
                  
                  
                    <div class="input-group">
                        <input class="input--style-3" [(ngModel)]="user.email" type="email" placeholder="Email" name="email">
                    </div>
                    <div class="input-group">
                        <input class="input--style-3" [(ngModel)]="user.password" type="password" placeholder="password" name="phone">
                    </div>
                    <div class="p-t-10">
                        <button class="btn btn--pill btn--green" type="submit">Register</button>
                    </div>
                    <div class="p-t-10">
                        <button class="btn btn--pill btn--red"(click)="logInWithGoogle('Google')" >Google Login</button>
                    </div>
                    <div class="p-t-10">
                        <button class="btn btn--pill btn--blue"(click)="logInWithFacebook('Facebook')" >Facebook Login</button>
                    </div>
                    <div class="p-t-10">
                    <li><a routerLink="/Login" routerLinkActive="active">Already Have Account</a></li>
                    </div>
                </form>
             
            </div>
            

        </div>
    </div>
   
           
</div>

